<link rel="stylesheet" href="css/style.css">
<div id='main-container'>
    <img url="http//localhost:6969/images/babka.png">
    <h3 id='headline'>Я украл Гороскоп</h3>
<div id='form-container'>
     <form id='plohaya-forma'>
    <input type='date' id='sex-input' name='date'>
    <button id='plohaya-knopka' >Сори Мэйл ру</button>
    </form>
</div>
<div id='search-results-container'>
</div>
<div class='answer-container'>
    <div id='constalation-picture'></div>
    <div id='constalation-description'></div>
</div>
</div>
<script defer src='js/script.js'></script>